<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
      <title>Web Application to Predict Honey Label</title>
      <link rel="icon" href="static/images/machine-learning.png" type="image/icon type">
   </head>
   <body>
      <ul class="tabs">
         {% if  honey_label ==null and sample_data==null and honeydata==null and perform_matrix==null and show_pred_app==null%}
         <li data-tab-target="#About" class="active tab">About me</li>
         <li data-tab-target="#Other" class="tab">Professional Experience & Projects</li>
         <li data-tab-target="#Project" class="tab">Machine Learning Project Details</li>
         <li data-tab-target="#Honey" class="tab">Prediction App</li>

         {% else %}
         <li data-tab-target="#About" class="tab">About me</li>
         <li data-tab-target="#Other" class="tab">Professional Experience & Projects</li>
         <li data-tab-target="#Project" class="tab">Machine Learning Project Details</li>      
         <li data-tab-target="#Honey" class="active tab">Prediction App</li>

         {% endif %}
      </ul>
      <div class="tab-content">
      {% if  honey_label ==null and sample_data==null and honeydata==null and perform_matrix==null and show_pred_app==null%}
      <div id="About" data-tab-content class="active">
      {% else %}
      <div id="About" data-tab-content>
         {% endif %}    
         <h2 style="font-family:verdana;">
         Dushyant Nayak</h2>
         <br> <img src="{{url_for('static',filename='images/dushyant.jpg')}}" rel="image" > <br>  <br><br> 
         <em>
            <br><br>
            <br><br> <br>  <a href="https://www.linkedin.com/in/dushyant-nayak-1b13128?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BncGUR8nJTimmkc7Plt%2Bn9w%3D%3D"> My Linkedin </a>
            <br> 
            <br><b > Current Company :</b>Amazon
            <br> <b>Previous Company :</b> Oracle
            <br> <b>Current Role :</b> Cloud Database Engineer
            <br>   <b> Skills :    </b> Cloud Computing - AWS(Amazon Web Services) | OCI (Oracle Cloud Infrastructure), Python, Pandas, NumPy, Data Science, Machine Learning, Database - PostgreSQL | Oracle
            <br> <b>Industry Experience:</b>  17 Years  
            <br> <b>Roles:</b> Software Development Manager, Software Development Engineer, Database Application engineer, Cloud Architect, Cloud Database Engineer, ERP Consultant
            <br> <b> Certifications : </b> <br>
            <ul >
               <ol>Oracle R12 Payables Certified Specialist</ol>
               <ol>Oracle Linux Certified Implementation Specialist</ol>
               <ol>Oracle Database 11g Administrator Certified Associate</ol>
               <ol>Oracle Weblogic Implementation specialist</ol>
               <ol>Oracle Cloud Infrastructure Foundation</ol>
               <ol>Oracle Cloud Infrastructure Architect Associate</ol>
            </ul>
            <b>EDUCATION</b> <br>
            <br>Eastern University, St. Davids, Pennsylvania, United States — Master’s in science (Data Science- Pursuing)
            <br> <sup>Oct 2020 - Present</sup>
            <br> Bhoj University, Bhopal, India — Master’s in computer application
            <br> <sup>Jul 2002 - Jun 2005</sup>
            <br> Makhanlal Chaturvedi University, Bhopal, India — Bachelor of Computer Applications
            <br> <sup>Jul 1997 - May 2000 </sup>
         </em>
      </div>
      <div id="Other" data-tab-content>
         <br>
         <br>

         <br>

         <iframe src="resume.html" height="1800" width="1500" style="border:none;" title="description"></iframe>   

         

      </div>

      <div id="Project" data-tab-content>
         <h2 style="font-family:verdana;">Project Details </h2><br> <h3>Capstone: Applied Data Science (DTSC-691-80)</h3> <br>
         <b>Contributors:
         <br><br> Student: Dushyant Nayak
         <br>   Mentor : Tamrat Belay
         <br>   Course Coordinator: Jake Bodet </b>
         <p> <em>
            <br> In this project Honey Datasets <mark>(honeydata.csv) </mark>, which is collected by food authenticity investigation organisation that uses infrared (NIR) spectroscopy,
            <br> is analyzed and prediction is made to tag the right label of the sample. Label shows if sample is pure or adulterated.
            <br><br> NIRS produces data of chemical bonding within the food item and every food item produces different wavelengths.
            <br>The characteristics of transflectance spectra recorded over a variety of wavelengths make up the NIR datasets.
            <br><br>More details about NIRS can be found in <a href="https://en.wikipedia.org/wiki/Near-infrared_spectroscopy"> Wikipedia </a>
            <br><br> This project is developed as part of Data Science(MS) program by <a href="https://www.eastern.edu/"> Eastern University (St. Davids, Pennsylvania) </a>
            <br><br> This is the program details <a href="https://www.eastern.edu/academics/colleges-seminary/college-health-and-sciences/departments/department-mathematical-5"> Data Science MS Program</a>
            </em>
            <br><br>
         </p>
         <h3 style="font-family:verdana;">Data/Code Source</h3>
         <br>
          <a href="https://github.com/dunayak/MLWebApplication" target="_blank"> Application Code </a><br>
         

 <br>
         <h3 style="font-family:verdana;">Instructions to use the Web Application </h3>
         <br>   
         <p>
            <em>
               Dataset File honeydata.csv file has datasets collected by food authenticity investigation organisation kept at GIT Hub Repository <br>
               Sampe Data which is going to be used to predict the label is existing in the server, data is stored after performing preprocessing mechenisms.<br>
               Origianl Dataset has over 700 columns but using dimension reduction mechenism columns are extracted to three new columns<br>
               New data will be in below format<br>
               <br><br>
         <table border="1">
         <tr>
         <th>Col1</th>
         <th>Col2</th>
         <th>Col3</th>
         <th>Target</th>
         </tr>
         <tr>
         <td>--</td>
         <td>--</td>
         <td>--</td>
         <td>--</td>
         </tr> 
         </table>
         <br><br>
         <h4>* Objective is to apply the Machine learning model, which was generated using pickle, to the dataset and run the prediction.
         <br>   
         <h3>Steps to run prediction :</h3><br>
         <ul> 
         <ol><b>Navigate to Prediction tab</b></ol><br>

         <b> Option 1 : Scan whole test Dataset</b> <br>
         <ul><ol> This will load the raw csv file and feed it to ML processing </ol> </ul>
         <b> Option 2 : Predict One Row</b> <br>
            <ul><ol> This will process one row and predict using ML </ol> </ul> <br>
         <ol><b>Step 1-</b> Pick honey sample record(s) by clicking on any of below bottons :</ol><br>
         <ul> 
         <ol><b>Show All Button-</b> Will populate all test datasets and User will need to enter an index to select a record for processing.</ol>
         <ul>
            <ol>
               If user selects a row index which is not in range shown in the UI, 0th row will be picked by system.
            </ol>
         </ul>   
         <ol><b>Show Random Button-</b> Will pupulate a random record from the test datasets for processing.</ol><br>
         <ol><b>** Test data is created using 80:20 split and is stored in the server in the form of csv file.</b></ol><br>

         </ul> 
         <ol><b>Step 2-</b> Choose the combination of dimension reduction technique and Machine Learning prediction Algorithm. </ol>
         <ul><br>
         <ol> Only best performing combination of dimension reduction and Machine Learning prediction algorithms are included in UI.</ol>
         </ul><br>
         <ol><b>Step 3-</b> Click on the Predict button - This will apply prediction on the row returned/selected from previous step.</ol>

         <br>
         <ul>
         <ol>If prediction is accurate, <b>Predicted Honey Label: Predicted label</b> is displayed in green color otherwise in red color.</ol>
         </ul>
         </ul>

         <h4>* In addition to that, Prediction tab will also show the confusion matrix of whole test data set.
         <br>

<h3>Based on the comparative analysis among the various Algorithms, below are the best performing Algorithms, hence will be used in prediction.</h3>
<table border="1">
   <tr>
   <th>Algorithm</th>
   <th>Accuracy</th>
   </tr>
   <tr>
      <td>LDA with PCA Accuracy</td>
      <td>77.08%</td>
   </tr> 

   <tr>
      <td>QDA with PCA Accuracy</td>
      <td>85.42%</td>
         
      </tr> 

   <tr>
      <td>KNN with PCA Accuracy</td>
      <td>91.67%</td>
            
      </tr> 
      <tr>
         <td>SVM with PCA Accuracy</td>
         <td>89.58%</td>
               
         </tr> 

</table>
</div>
<br><br><br><br>


      {% if  honey_label ==null and sample_data ==null and honeydata==null and perform_matrix==null and show_pred_app==null %}
         <div id="Honey" data-tab-content >
      {% else %}
         <div id="Honey" data-tab-content class="active">
      {% endif %}    
            <h1>Predict</h1> <br>

            <h1>Option 1 : Scan whole test Dataset </h1>
            <form action="{{ url_for('loaddata') }}" method = "POST" enctype = "multipart/form-data">
               <label for="file">Browse Honey Sample Data File:</label>
           <input type="file" name="file">

           <button class="Dushbtn" >Upload Honey Sample Test Dataset</button>
           {% if  outcome !=null %}
           <H3 style="color:Green;"> File {{outcome}} </H3>
           {% else %}
           {% endif %} 
           
      <br><br><br>
           </form>
           <form action="{{ url_for('processTest')}} "method="post" id="Random-form">
            <br>        

            {% if  show_pred_app !=null %}

            <button type="submit" class="Dushbtn">Process Dataset</button>   
            {% else %}
            <button type="submit" class="Dushbtn" disabled>Process Dataset</button>
            {% endif %} 
            </form>


            {% if  perform_matrix !=null %}
            <H3 style="color:Green;"> Performance Matrix </H3>
            {% else %}
            {% endif %} 
            <div align="left">
               <table>
                  <h1>
                     <!-- Populating Performance Matrix in HTML table -->
                     {% for row in perform_matrix %}
                     <h2>{{fields[loop.index]}}</h2>
                     {{ row|safe }}
                     {% endfor %}     
                  </h1>
               </table>
  
               <br>
               {% if perform_matrix != null %}
               <iframe id="Confuse" src="{{ url_for('knn_confusion') }}?graph_file={{ knngraph_file }}" width="1200" height="600" style="border:none;" scrolling="no"></iframe>
               {% endif %} 
            </div>

            <br>
           <h1>Option 2: Predict One Row </h1>
            <form action="{{ url_for('showHoney')}} "method="post" id="Random-form">


            <ul>
               <ol><b>Step 1-</b> Pick honey sample record(s) by clicking on any of below bottons :</ol><br>
                  <ul> 
                     <ol><b>Show All Button-</b> Will populate all test datasets and User will need to enter an index to select a record for processing.</ol><br>
                  <ul>
               <ol>
                     If user selects a row index which is not in range shown in the UI, 0th row will be picked by system.
                  </ol>
               </ul>   
               <ol><b><br>Show Random Button-</b> Will pupulate a random record from the test datasets for processing.</ol><br>

               <button type="submit" class="Dushbtn">Show Random Record</button>
               {% if random %}

               <div align="left">
                  <table>
                     <h1>
                        <!-- Populating honey record in HTML table -->
                        {% for row in sample_data %}
                        <h2>{{fields[loop.index]}}</h2>
                        {{ row|safe }}
                        {% endfor %}     
                     </h1>
                  </table>
               </div>
               {% else %}
               {% endif %} 
            </form>
            <form action="{{ url_for('showRows')}} "method="post" id="All-form">

               <br> 
               <button type="submit" class="Dushbtn">Show All Test Data Set</button>
            </form><br> 
            <div>
               <table id="honeyTable">

                     {% for ind in honeydata %}
                  <tr>
                     <td>{{features[loop.index]}} </td>
                     {{ ind | safe}}
                  </tr>
                     {% endfor %}

               </table>
            </div>
            <br><br>

            <form action="{{ url_for('predict')}} "method="post" id="predict-label">
               {% if honeydata != null %}
               <h3><b>  
               <label for="Sample">Please Enter row id to predict (between 0-95) :</label>
               <input type="text" id="rowid" name="rowid" maxlength="2">                
               <p> Please note if values is not in the range system will show 0th index row</p>
               {% endif %} 
               <br><br>
               {% if random %}

               {% else %}

               <div align="left">
                  <table>
                     <h1>
                        <!-- Populating honey record in HTML table -->
                        {% for row in sample_data %}
                        <h2>{{fields[loop.index]}}</h2>
                        {{ row|safe }}
                        {% endfor %}     
                     </h1>
                  </table>
               </div>
               {% endif %} 
               <br><br>
               <b>Step 2-</b> Choose the combination of dimension reduction technique and Machine Learning prediction Algorithm. 
               <br><br>
               <select name="Algo">
                  <option value="PCALDA" selected> PCALDA </option>
                  <option value="PCAQDA"> PCAQDA </option>
                  <option value="PCAKNN"> PCAKNN </option>
                  <option value="PCASVM"> PCASVM </option>
                  {% if selected_algo != null %}
                  <option value="{{ selected_algo }}" selected > {{ selected_algo }}</option>
                  {% endif %} 
               </select>
               

               <br> <br>
               <p><b>Step 3-</b>- Click on Predict to see prediction: </p>



               {% if rowid == null and honeydata == null and sample_data==null%}
               <button type="submit" class="Dushbtn" disabled>Predict</button>
               {% else %}
               <button type="submit" class="Dushbtn">Predict</button>  
               {% endif %} 

            </form>


            <br> <br>
            {% if honey_label == null %}   
            {% else %}
            {% if accuracy == 1 %}   
            <H3 style="color:Green;"> {{ honey_label }} </H3>
            {% else %}
            <H3 style="color:Red;"> {{ honey_label }} </H3>
            {% endif %} 
            {% endif %} 
            <br>
            {% if honey_label != null %}
            <h3><b> Confusion Metrix 
            <br>
            <iframe id="Confuse" src="{{ url_for('plot_confusion') }}?graph_file={{ graph_file }}" width="1200" height="600" style="border:none;" scrolling="no"></iframe>
               
            {% endif %} 
            <br>

            <b>Terms: </b><br><br>
            <b>Preprocessing:</b> Principal Component Analyses (PCA) <br>
            <b>Model Algorithms:</b>  Linear Discriminant Analysis (LDA), Quadratic Discriminant Analysis (QDA), K-Nearest Neighbors (KNN) and Support Vector Machine (SVM)<br>

         <br>

      <br><br><br>
   </body>
   <!-- Using Javascript to handle the tab events, 
      I had to use this after html body because it didn't work in flask application when script was inside HTML body -->
   <script src="{{url_for('static',filename='js/script.js')}}"></script>
</html>